html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at -30px -30px, #6816A9, #30094F);
  margin: 0px;
}


#app {
  width: 100%;
  height: 100%;
}

#landingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


#animation {
  z-index: 2;
  position: fixed;
  display: block;
  width: 70%;
 /* margin: 0 auto; */
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#ellipse {
  position: fixed;
  z-index: 1;
  width: 60%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animation2 {
  z-index: 2;
  position: fixed;
  display: block;
  top: 30px;
  left: 250px;
  width: 400px;
  min-width: 400px;
  transform: rotate(20deg) translate(-50%, 10%);
  -webkit-transition: all 1200ms ease-in-out;
  -moz-transition:    all 1200ms ease-in-out;
  -ms-transition:     all 1200ms ease-in-out;
  -o-transition:      all 1200ms ease-in-out;
  transition:         all 1200ms ease-in-out;
  transition-delay: 200ms;

}


#ellipse2 {
  position: fixed;
  z-index: 1;
  width: 250%;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -moz-transition:    width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -ms-transition:     width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -o-transition:      width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  transition:         width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;


}

#bgAnimation1 {
  position: fixed;
  z-index: 0;
  display: block;
  left: -10px;
  bottom: -10px;
  height: 70%;
  animation-iteration-count: 1;
  animation-name: bgFadeIn;
  animation-duration: 2s;
}

#bgAnimation2 {
  position: fixed;
  z-index: 0;
  display: block;
  right: -10px;
  top: -10px;
  height: 70%;
  animation-name: bgFadeIn;
  animation-duration: 2s;
}

@keyframes bgFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1}
}

#bgAnimation12 {
  position: fixed;
  display: block;
  left: -10px;
  bottom: -10px;
  height: 70%;
}

#bgAnimation22 {
  position: fixed;
  z-index: 0;
  display: block;
  right: -10px;
  top: -10px;
  height: 70%;
}

#testPage {
 overflow: none;
 width: 100%;
 height: 100%;
}

#testing {
  overflow: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/bgAnimation1.svg"), url("../images/bgAnimation2.svg");
  background-repeat: no-repeat;
  background-position: -10px 100px, top -10px right -10px;
  background-size: auto 100%, auto 100%;
  animation-name: bgFadeIn;
  animation-duration: 2s;
}

#mainContainer {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 120px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
}

#navBar {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #FD5CB0;
  animation-name: bgFadeIn;
  animation-duration: 2s;
  z-index: 2;
  font-family: Blinker;
  font-size: 24px;
}

#content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#navBar div {
  margin: 0 20px 0 20px;
}

#projectsContainer {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
}

.projectThumbnail {
  background-color: #FD5CB0;
  width: 120px;
  height: 100px;
}

.projectThumbnail:hover {
  cursor: pointer;
}

#aboutContainer, #contactContainer, #projectsContainer, #missingContainer {
  color: #FD5CB0;
  font-family: Blinker;
  animation-name: bgFadeIn;
  animation-duration: 1200ms;
}

#missingContainer {
  margin: auto;
  font-size: 100px;
  text-align: center;
}
/*
@media screen and (max-width: 600px) {

  #animation {
    z-index: 2;
    position: fixed;
    display: block;
    margin: auto;
    width: 90%;
  }

  #ellipse {
    position: fixed;
    z-index: 1;
    width: 80%;
    display: block;
  }


  #animation2 {
    z-index: 2;
    position: fixed;
    padding: 50px;
    top: -130px;
    left: -20px;
    width: 50vh;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition:    all 1000ms ease-in-out;
    -ms-transition:     all 1000ms ease-in-out;
    -o-transition:      all 1000ms ease-in-out;
    transition:         all 1000ms ease-in-out;
    transition-delay:   500ms;

  }

  #ellipse2 {
    position: fixed;
    bottom: -200px;
    right: -20px;
    z-index: 1;
    width: 300%;
    min-width: 900px;
    overflow: none;
    -webkit-transition: width 2000ms ease-in-out;
    -moz-transition:    width 2000ms ease-in-out;
    -ms-transition:     width 2000ms ease-in-out;
    -o-transition:      width 2000ms ease-in-out;
    transition:         width 2000ms ease-in-out;

  }} */
