html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at -30px -30px, #6816A9, #30094F);
  margin: 0px;
}


#app {
  width: 100%;
  height: 100%;
}

#landingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


#animation {
  z-index: 2;
  position: fixed;
  display: block;
  width: 70%;
 /* margin: 0 auto; */
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -webkit-transition: all 1200ms ease-in-out;
 -moz-transition:    all 1200ms ease-in-out;
 -ms-transition:     all 1200ms ease-in-out;
 -o-transition:      all 1200ms ease-in-out;
 transition:         all 1200ms ease-in-out;
}

#ellipse {
  position: fixed;
  z-index: 1;
  width: 60%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -moz-transition:    width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -ms-transition:     width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -o-transition:      width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  transition:         width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
}

#animation2 {
  z-index: 2;
  position: fixed;
  display: block;
  top: 30px;
  left: 250px;
  width: 400px;
  min-width: 400px;
  transform: rotate(20deg) translate(-50%, 10%);
  -webkit-transition: all 1200ms ease-in-out;
  -moz-transition:    all 1200ms ease-in-out;
  -ms-transition:     all 1200ms ease-in-out;
  -o-transition:      all 1200ms ease-in-out;
  transition:         all 1200ms ease-in-out;
  transition-delay: 200ms;

}

#animation2:hover {
  cursor: pointer;
}

#animationContainer {
  z-index: 3;
  position: fixed;
  width: 500px;
  height: 150px;
}

#animationContainer:hover {
  cursor: pointer;
}

#ellipse2 {
  position: fixed;
  z-index: 1;
  width: 250%;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -moz-transition:    width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -ms-transition:     width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -o-transition:      width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  transition:         width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;


}

#ellipse3 {
  position: fixed;
  z-index: 0;
  width: 250%;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bgFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1}
}

@keyframes bgFadeOut {
  0%   {opacity: 1}
  100% {opacity: 0}
}

#bgAnimation12 {
  position: fixed;
  display: block;
  left: -10px;
  bottom: -10px;
  height: 70%;
}

#bgAnimation22 {
  position: fixed;
  z-index: 0;
  display: block;
  right: -10px;
  top: -10px;
  height: 70%;
}

#mainLayout {
 overflow: none;
 width: 100%;
 height: 100%;
}

#mainLayoutBack {
  overflow: none;
  width: 100%;
  height: 100%;
 }

#testing {
  overflow: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/bgAnimation1.svg"), url("../images/bgAnimation2.svg");
  background-repeat: no-repeat;
  background-position: -10px 100px, top -10px right -10px;
  background-size: auto 100%, auto 100%;
  animation-name: bgFadeIn;
  animation-duration: 2s;
}

#testingBack {
  overflow: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/bgAnimation1.svg"), url("../images/bgAnimation2.svg");
  background-repeat: no-repeat;
  background-position: -10px 100px, top -10px right -10px;
  background-size: auto 100%, auto 100%;
  animation-name: bgFadeOut;
  animation-duration: 2s;
}

#mainContainer {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
}

#navBar {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #FD5CB0;
  animation-name: bgFadeIn;
  animation-duration: 2s;
  z-index: 2;
  font-family: Blinker;
  font-size: 24px;
}

#content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 75px 0 0 0;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#navBar div {
  margin: 0 20px 0 20px;
}

#projectsContainer {

}

#projectContainer {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}

#slider {
  grid-column-start: 1;
  grid-column-end: 2;
}

#text {
  grid-column-start: 2;
  grid-column-end: 3;
  color: #FD5CB0;
  font-family: roboto;
  font-size: 12px;
  min-width: 200px;
}


.projectThumbnail {
  background-color: #FD5CB0;
  width: 120px;
  height: 100px;
}

.projectThumbnail:hover {
  cursor: pointer;
}

#aboutContainer, #contactContainer, #projectsContainer, #missingContainer, #projectContainer {
  color: #FD5CB0;
  font-family: Blinker;
  animation-name: bgFadeIn;
  animation-duration: 1200ms;
  overflow: auto;
}

#missingContainer {
  margin: auto;
  font-size: 100px;
  text-align: center;
}

#aboutContainer img {
  float: left;
  margin: 0 14px 10px 0;
}

#aboutContainer span{
  font-family: Roboto;
  font-size: 12px;
}


@media screen and (max-width: 600px) {

  #animation {
    z-index: 2;
    position: fixed;
    display: block;
    margin: auto;
    width: 90%;
  }

  #ellipse {
    position: fixed;
    z-index: 1;
    width: 80%;
    display: block;
  }

  #animation2 {
    z-index: 2;
    position: fixed;
    display: block;
    top: 30px;
    left: 220px;
    width: 350px;
    min-width: 50px;
    transform: rotate(20deg) translate(-50%, 10%);
    -webkit-transition: all 1200ms ease-in-out;
    -moz-transition:    all 1200ms ease-in-out;
    -ms-transition:     all 1200ms ease-in-out;
    -o-transition:      all 1200ms ease-in-out;
    transition:         all 1200ms ease-in-out;
    transition-delay: 200ms;

  }

  #navBar {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FD5CB0;
    animation-name: bgFadeIn;
    animation-duration: 2s;
    z-index: 2;
    font-family: Blinker;
    font-size: 24px;
    background-color: white;
    margin-top: 150px;
  }

  #animationContainer {
    z-index: 3;
    position: fixed;
    width: 500px;
    height: 100px;
  }

  #ellipse2 {
    position: fixed;
    bottom: -200px;
    right: -20px;
    z-index: 1;
    width: 300%;
    min-width: 900px;
    overflow: none;
    -webkit-transition: width 2000ms ease-in-out;
    -moz-transition:    width 2000ms ease-in-out;
    -ms-transition:     width 2000ms ease-in-out;
    -o-transition:      width 2000ms ease-in-out;
    transition:         width 2000ms ease-in-out;

  }}
