// Variables

$pink: #FD5CB0;
$purpleLight: #6816A9;
$purpleDark: #30094F;
$bodyText: 12px;

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at -30px -30px, #6816A9, #30094F);
  margin: 0px;
  background-attachment: fixed;
}


#app {
  width: 100%;
  height: 100%;
}

#landingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

#mobileGreeting {
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: roboto;
  color: $pink;
  font-weight: 700;
  display: none;
}

#mobileGreeting a {
  margin: 0 10px 0 10px;
}



#animation {
  z-index: 2;
  position: fixed;
  display: block;
  width: 70%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -webkit-transition: all 1200ms ease-out;
 -moz-transition:    all 1200ms ease-out;
 -ms-transition:     all 1200ms ease-out;
 -o-transition:      all 1200ms ease-out;
 transition:         all 1200ms ease-out;
}

#ellipse {
  position: fixed;
  z-index: 1;
  width: 60%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -moz-transition:    width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -ms-transition:     width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  -o-transition:      width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
  transition:         width 1000ms ease-in-out 1000ms, opacity 1000ms ease-out;
}

#animation2 {
  z-index: 2;
  position: absolute;
  display: block;
  top: 30px;
  left: 250px;
  width: 500px;
  min-width: 400px;
  transform: rotate(20deg) translate(-40%, 0%);
  -webkit-transition: all 1200ms ease-out;
  -moz-transition:    all 1200ms ease-out;
  -ms-transition:     all 1200ms ease-out;
  -o-transition:      all 1200ms ease-out;
  transition:         all 1200ms ease-out;
  transition-delay: 200ms;

}

#animation2:hover {
  cursor: pointer;
}

#animationContainer {
  z-index: 3;
  position: fixed;
  width: 500px;
  height: 150px;
}

#animationContainer:hover {
  cursor: pointer;
}

#ellipse2 {
  position: fixed;
  z-index: 1;
  width: 350%;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -moz-transition:    width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -ms-transition:     width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  -o-transition:      width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;
  transition:         width 1000ms ease-in-out, opacity 1000ms ease-out 1000ms;


}

#ellipse3 {
  position: fixed;
  z-index: -1;
  width: 350%;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bgFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1}
}

@keyframes bgFadeOut {
  0%   {opacity: 1}
  100% {opacity: 0}
}

@keyframes slideNext {
  0% {transform: translate(0%, 0%); opacity: 1}
  100% {transform: translate(-30%, 0%) scale(0.7, 0.7); opacity: 0}
}

@keyframes slideNext2 {
  0% {transform: translate(30%, 0%) scale(0.7, 0.7); opacity: 0}
  100% {transform: translate(0%, 0%); opacity: 1}
}

@keyframes slideBack {
  0% {transform: translate(0%, 0%); opacity: 1}
  100% {transform: translate(30%, 0%) scale(0.7, 0.7); opacity: 0}
}

@keyframes slideBack2 {
  0% {transform: translate(-30%, 0%) scale(0.7, 0.7); opacity: 0}
  100% {transform: translate(0%, 0%); opacity: 1}
}

.slideNext {
  animation-name: slideNext;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}

.slideNext2 {
  animation-name: slideNext2;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}

.slideBack {
  animation-name: slideBack;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}

.slideBack2 {
  animation-name: slideBack2;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
}

#bgAnimation12 {
  position: fixed;
  display: block;
  left: -10px;
  bottom: -10px;
  height: 70%;
}

#bgAnimation22 {
  position: fixed;
  z-index: 0;
  display: block;
  right: -10px;
  top: -10px;
  height: 70%;
}

#mainLayout {
 overflow: hidden;
 width: 100%;
 height: 100%;
}

#mainLayoutBack {
  overflow: none;
  width: 100%;
  height: 100%;
 }

#testing {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../images/bgAnimation1.svg"), url("../images/bgAnimation2.svg");
  background-repeat: no-repeat;
  background-position: -10px 100px, top -10px right -10px;
  background-size: auto 100%, auto 100%;
  animation-name: bgFadeIn;
  animation-duration: 2s;
  // min-height: 600px;
  // min-width: 1350px;
  position: absolute;
}

#testingBack {
  overflow: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/bgAnimation1.svg"), url("../images/bgAnimation2.svg");
  background-repeat: no-repeat;
  background-position: -10px 100px, top -10px right -10px;
  background-size: auto 100%, auto 100%;
  animation-name: bgFadeOut;
  animation-duration: 2s;
}

#mainContainer {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 125px minmax(450px, auto) 100px;
}

#footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  margin: 0 10px 0 20px;
}

#footer a img {
  width: 30px;
}


// #navBar {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   color: $pink;
//   animation-name: bgFadeIn;
//   animation-duration: 2s;
//   z-index: 2;
//   font-family: Blinker;
//   font-size: 28px;
// }

#content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 25px 0 0 0;
  display: flex;
  justify-content: center;
  // min-width: 1290px;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// #navBar div {
//   margin: 0 20px 0 20px;
// }

#container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(48, 9, 79, .45);
  padding: 50px 100px;
  // min-width: calc(100vh - 200px)
}

#p1, #p2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


#projectContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(48, 9, 79, .45);
  padding: 50px 100px;
  // width: calc(100vw - 200px);
  margin-left: auto;
  margin-right: auto;
  // left: 0;
  // right: 0;
  // text-align: center;
  // transform: translate(-515px, 0)
}



#projectContainer2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(48, 9, 79, .45);
  padding: 50px 100px;
  // width: calc(100vw - 200px);
  margin-left: auto;
  margin-right: auto;
  // left: 0;
  // right: 0;
  // text-align: center;
  //  transform: translate(-515px, 0)
 }

 #testContainer {
  width: 100vw;
 }

#slider {
  grid-column-start: 1;
  grid-column-end: 2;
}

.slidesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider {
  height: 300px;
}

#text {
  grid-column-start: 2;
  grid-column-end: 3;
  color: $pink;
  font-family: roboto;
  font-size: $bodyText;
  font-weight: 400;
  min-width: 200px;
  padding: 60px 0 0 0 ;
}

#projectImage:active {
  animation-name: bgFadeOut;
  animation-duration: 1200ms;
}

#aboutContainer, #contactContainer, #projectsContainer, #missingContainer, #projectsPageWrapper {
  color: $pink;
  animation-name: bgFadeIn;
  animation-duration: 1200ms;
  overflow: hidden;
}

.fadeOutAnimation {
  animation-name: bgFadeOut;
  animation-duration: 1200ms;
}

.fadeInAnimation{
  animation-name: bgFadeIn;
  animation-duration: 1200ms;
}

#projectsPageWrapper, #aboutContainer {
  // display: flex;
  // align-items: center;
  // overflow: hidden;

  // justify-content: space-between;
}

#projectsPageWrapper {

  // padding: 50px 100px 0 100px;
}

.projectThumbnail img {
  position: relative;
  top: 0px;
}

#aboutContainer {
  padding: 50px 100px 0 100px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.subTitle {
  font-size: 14px;
  font-weight: 700;
}

.bodyText {
  width: 300px;
  margin: 0 0 0 30px;
  font-family: Roboto;
  font-size: 14px;
}

.aboutBodyText {
  font-family: Roboto;
  font-size: 14px;
}

#missingContainer {
  margin: auto;
  font-size: 100px;
  text-align: center;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-family: Roboto;
  font-size: 14px;
}

#aboutContainer img {
  float: left;
  margin: 0 14px 10px 0;

}

#aboutContainer span{
  font-family: Roboto;
}

#aboutText {
  margin: 0 0 0 20px;
  // min-width: 300px;
}

#testing1 {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 2;
  opacity: .6;
}


.bold {
  font-weight: 700;
}


#forwardArrow {
  position: relative;
  left: 50px;
}

#backArrow {
  position: absolute;
  left: 20px;
}

#backArrow:hover, #forwardArrow:hover {
  cursor: pointer;
}

.githubButton {
  background-color: $pink;
  color: $purpleDark;
  padding: 10px;
  font-weight: 700;
}

.githubButton:hover {
  cursor: pointer;
}
//Media Query for Mobile Device Display

@media screen and (max-width: 1200px) {


  #container {
    padding: 50px 50px;
    // min-width: 830px
  }

}


@media screen and (max-width: 900px) {

  #mainContainer {
    grid-template-columns: 0px 1fr 0px;
  }

  #container {
    justify-content: center;
    flex-direction: column;
  }

  #aboutText {
    min-width: 100px;
    margin: auto;
}

#aboutContainer img {
  float: none;
  margin: auto;
}

  #aboutContainer{
    padding: 100px 50px 0 50px;
    overflow: scroll;
  }

  #animationContainer {
    width: 100%;
  }


}

@media screen and (max-width: 812px) {

  #animation {
    z-index: 2;
    position: fixed;
    display: block;
    margin: auto;
    width: 95%;
  }

  #ellipse {
    position: fixed;
    z-index: 1;
    width: 85%;
    display: block;
  }

  // #landingContainer {
  //   pointer-events: none;
  // }

  #mobileGreeting {
    display: inline;
  }
}



@media screen and (max-width: 600px) {

  #animation {
    z-index: 2;
    position: fixed;
    display: block;
    margin: auto;
    width: 95%;
  }


  #ellipse {
    position: fixed;
    z-index: 1;
    width: 85%;
    display: block;
  }

  #animation2 {
    z-index: 2;
    position: absolute;
    display: block;
    top: -20px;
    left: 0px;
    width: 270px;
    min-width: 100px;
    transform: rotate(20deg) translate(20%, 0%);
  }

  // #landingContainer {
  //   pointer-events: none;
  // }

  #mobileGreeting {
    display: inline;
  }
}
